* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
    /* styles for navigation */
.nav {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* width: 75%; */
  height: 100px;
}

.nav-title {
  color: #fff;
padding: 10px;
}
#search {
  width: 75%;
  height: 32px;
  
}

.btn {
  background-color: cadetblue;
  color: #fff;
  height: 32px;
  width: 64px;
}

  /* Start Columns and Content Styles */
  