/* Overall container */
.container {
  display: flex;
  align-items: center;
}
.nav {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  
  /* Separate left from right */     
  }
.nav-title {
  color: #fff;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: flex-start;
  padding-left: 10px;
  
}

.nav-links {
  /* color: #fff; */
  /* background-color: aliceblue; */ 
  display: flex;
  padding-top: 15px;
  justify-content: center;
  
}
  /* Formatting the li */
.active {
  
  font-weight: bold;
}
.btn {
  background-color: cadetblue;
  color: #fff;
}
.deco {
  /* padding: 10px; */
  list-style-type: none; 
  color: #fff;
  /* font-family: Arial, Helvetica, sans-serif; */ 
  text-decoration: none;
}
li {
  padding: 0px 10px;
  list-style-type: none;    
} */
/* BREAK FOR PROFILE STYLES */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.col-left {
  /* border: 5px solid grey; */
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.user-card, .education {
border: 10px solid gray;
width: 600px;
height: 400px;
padding-bottom: 30px;
/* display: flex; */
/* flex-direction: column; */
}
.banner {
  background-color: blue;
  height: 100px;
  width: 600px;
}

.img {
  background-color: grey;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  padding: 7px;
  display: flex;
  position: relative;
  bottom: 50px;
  left: 10px;
}
.userName {
  width: 200px;
  position: relative;
  top: 120px;
  right: 100px;
}
.info {
  position: relative;
  top: 30px;
  left: 10px;
}
p {
  padding: 2px;

}
.banner2 {
  background-color: #222;
  color: #fff;
  height: 50px;
  width: 600px;
}
.courses {
  width: 600px;
height: 400px;
padding-bottom: 30px;

}
/* BREAK FOR OTHER STYLES */
