<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>This is your Dashboard</h1>
    <div class="container">
        <div class="show">
            <h1>Dojo Survey</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Favorite Language</th>
                        <th>Additional Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data["name"]}}</td>
                        <td>{{data["location"]}}</td>
                        <td>{{data["fav_lang"]}}</td>
                        <td>{{data["comments"]}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>

</html>