/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: blanchedalmond;
}
#count {
    background-color: tan;
    color: chartreuse;
    padding: 10px;
}